#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
}

#modal img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

#close-btn {
  position: fixed;
  bottom: 10px;
  right: 940px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001; /* Ensure the close button is above the modal */
}
